.body{
    background-color: rgb(255, 255, 255);

    
}
/**************Burası Logo Kısmının olduğu yer**************/
.logo {
width: 351px;
height: 113px;
margin: 0 auto 10px auto;
}

/*************Burası Arama Kısmının olduğu yer**************/
.searchBox {
background-color: #eeeeee;
width: 1440px;
height: 70px;
text-align: center;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
color: #000;
}
.aramaKutusu {
width: 320px;
height: 15px;
}
.button1 {
    
}

.boxes{
    float: left;
    padding: 10px;

}

        .box1{
            background:#7EE5DA ;
       width: 445px;
       height: 65px;
       margin-left: 62px;
       margin-right: 2px;
        }

        .box2 {
             background: #70ccc2;
        width: 215px;
        height: 65px;
        font-size: small;
        margin-right: 2px;
        

        }

        .box3{
            background:#62B3AA ;
        width: 565px;
        height: 65px;
        font-size: small;

        }

        .foot{
            font-size: small;
        }

        .clear{
            clear: both;
        }